<div class="preguntados-container">
  <div class="inicio">
    <h1 class="title-app" routerLink="/home" routerLinkActive="active">
      Preguntados
    </h1>
  </div>
</div>
<div class="preguntados-bg">
  <!-- Seccion del preguntados -->
  <div class="card text-bg-dark">
    <div class="game-title">
      <h1 class="title-preguntados">¿Podrás adivinar la respuesta correcta?</h1>
    </div>
    <div *ngIf="!juegoIniciado && !juegoTerminado" class="btn-home">
      <button class="btn btn-secondary" (click)="comenzar()">Comenzar</button>
    </div>

    <!-- Contenedor de preguntas -->
    <div *ngIf="juegoIniciado && !juegoTerminado" class="pregunta-container">
      <h2>{{ preguntaActual }}</h2>
      <img
        [src]="imagenBandera"
        alt="Bandera del país"
        class="imagen-bandera"
      />
      <div class="temporizador">
        <p>Tiempo restante: {{ tiempoRestante }} segundos</p>
      </div>

      <div class="puntaje">
        <p>Puntaje: {{ puntaje }}</p>
      </div>

      <div class="opciones-container">
        <button
          *ngFor="let opcion of opciones"
          (click)="verificarRespuesta(opcion)"
        >
          {{ opcion }}
        </button>
      </div>
    </div>

    <!-- Mensaje de juego terminado -->
    <div *ngIf="juegoTerminado" class="juego-terminado">
      <h2>¡Juego Terminado!</h2>
      <p>Puntaje final: {{ puntaje }}</p>
      <button (click)="reiniciarJuego()">Comenzar nuevamente</button>
    </div>
  </div>
</div>
<div class="como-jugar">
  <div class="card card-como-jugar">
    <div class="card-header">Como Jugar</div>
    <div class="card-info">
      <p class="exp-general">
        Preguntados es un juego de trivia que desafía a los jugadores en
        distintas categorías de conocimiento. El objetivo del juego es conseguir
        la mayor cantidad de respuestas correctas posibles, así sumar puntos y
        intentar llegar hasta el final con la mayor suma de puntos que el
        jugador pueda conseguir.
      </p>
      <p class="info-pto">
        1- En cada turno, aparecerá una pregunta de 'categoría aleatoria' en
        donde deberá responder correctamente eligiendo entre las opciones que se
        le brindará al jugador.
      </p>
      <p class="info-pto">
        2- Si respondes correctamente el jugador podrá seguir enfrentandose a
        preguntas hasta que pierda.
      </p>
      <p class="info-pto">
        3- Cabe destacar que el jugador tiene como máximo 10 preguntas que
        responder, una vez responda correctamente las preguntas se terminará la
        partida.
      </p>
      <p class="info-pto">
        4- El jugador sumará puntos cada vez que responda correctamente las
        preguntas, ademas se le sumara el tiempo restante (en caso de que haya
        respondido correctamente) en cada ronda.
      </p>
    </div>
  </div>
</div>
