<div class="img-registro">
  <div class="registro">
    <div class="card text-center">
      <div>
        <h1 class="title">Registro</h1>
      </div>
      <div *ngIf="showLoadingGif">
        <div class="bloquear"></div>
        <div class="notificacion">
          <img src="assets/carga-login.gif" alt="Cargando..." />
        </div>
      </div>
      <div class="card-body">
        <hr class="div-hr" />

        <form [formGroup]="form">
          <div class="registro-input">
            <div class="columna-input">
              <input
                type="text"
                id="nombre"
                class="form-control"
                formControlName="nombre"
                placeholder="Nombre"
              />
              <ng-container *ngIf="nombre?.hasError('pattern')">
                <small class="text-danger">Sólo debe contener letras</small>
              </ng-container>
            </div>

            <div class="columna-input">
              <input
                type="text"
                id="apellido"
                class="form-control"
                formControlName="apellido"
                placeholder="Apellido"
              />
              <ng-container *ngIf="apellido?.hasError('pattern')">
                <small class="text-danger">Sólo debe contener letras</small>
              </ng-container>
            </div>
          </div>

          <div class="registro-input">
            <div class="columna-input">
              <input
                type="email"
                id="email"
                class="form-control"
                formControlName="email"
                placeholder="Email"
              />
              <small class="text-danger">{{
                email?.getError("usuarioExiste")
              }}</small>
            </div>

            <div class="columna-input">
              <input
                type="number"
                id="edad"
                class="form-control"
                formControlName="edad"
                placeholder="Edad"
              />
              <ng-container *ngIf="edad?.hasError('min')">
                <small class="text-danger">Debe ser mayor de edad</small>
              </ng-container>
            </div>
          </div>

          <div class="registro-input">
            <div class="columna-input">
              <input
                type="password"
                id="clave"
                class="form-control"
                formControlName="clave"
                placeholder="Clave"
              />
              <ng-container *ngIf="clave?.hasError('minlength')">
                <small class="text-danger">
                  La clave debe tener mínimo
                  {{ clave?.getError("minlength").requiredLength }} caracteres
                </small>
              </ng-container>
            </div>

            <div class="columna-input">
              <input
                type="password"
                id="repiteClave"
                class="form-control"
                formControlName="repiteClave"
                placeholder="Repetir Clave"
              />
              <small class="text-danger">
                {{ repiteClave?.getError("noCoincide") }}
              </small>
            </div>
          </div>

          <div class="registro-btn">
            <button type="button" class="btn btn-warning" (click)="registrar()">
              Registrar
            </button>
          </div>
        </form>
      </div>

      <div class="registro-info">
        <p>
          Te invito a conocer un nuevo espacio interactivo, para que puedas
          pasar tiempo y disfrutar de los juegos
          <img (click)="home()" src="assets/icon-clean.png" alt="icono" />
        </p>
      </div>
    </div>
  </div>
</div>
