<div class="img-registro">
  <div class="registro">
    <div class="card text-center">
      <div>
        <h1 class="title">{{ title }}</h1>
      </div>
      <div class="card-body">
        <hr class="div-hr" />
        <div>
          <h1 class="sub-title">Campos Obligatorios</h1>
        </div>
        <div class="registro-input">
          <div class="columna-input">
            <input
              type="text"
              id="inputUser"
              class="form-control"
              placeholder="{{ txtSeptimo }}"
              [(ngModel)]="userIngresado"
              autocomplete="off"
            />
            <small class="form-text text-muted"
              >El mail ingresado debe ser un mail válido
            </small>
          </div>
          <div class="columna-input">
            <input
              type="password"
              id="inputClave"
              class="form-control"
              placeholder="{{ txtOctavo }}"
              [(ngModel)]="claveIngresado"
              autocomplete="off"
            />
            <small class="form-text text-muted"
              >La contraseña debe tener al menos 8 caracteres sin caracter
              especial / espacio</small
            >
          </div>
        </div>
        <hr class="div-hr" />
        <div>
          <h1 class="sub-title">Campos Opcionales</h1>
        </div>
        <div class="registro-input">
          <div class="columna-input">
            <input
              type="text"
              id="inputNombre"
              class="form-control"
              placeholder="{{ txtPrimero }}"
              [(ngModel)]="nombreIngresado"
            />
            <small class="form-text text-muted"
              >Nombre completo del usuario</small
            >
          </div>
          <div class="columna-input">
            <input
              type="text"
              id="inputApellido"
              class="form-control"
              aria-describedby="passwordHelpBlock"
              placeholder="{{ txtSegundo }}"
              [(ngModel)]="apellidoIngresado"
            />
            <small class="form-text text-muted"
              >Apellido completo del usuario</small
            >
          </div>
        </div>
        <div class="registro-input-medio">
          <div class="columna-input">
            <input
              type="email"
              id="inputEdad"
              class="form-control"
              placeholder="{{ txtTercero }}"
              [(ngModel)]="edadIngresada"
            />
            <small class="form-text text-muted small-medio"
              >La edad del usuario debe ser mayor a 18</small
            >
          </div>
        </div>
        <!-- <div class="registro-input-pequenio">
          <div class="columna-input">
            <div class="columna-centrada">
              <input
                type="text"
                id="inputDia"
                class="form-control"
                placeholder="{{ txtCuarto }}"
                [(ngModel)]="diaIngresado"
              />
              <input
                type="text"
                id="inputMes"
                class="form-control"
                placeholder="{{ txtQuinto }}"
                [(ngModel)]="mesIngresado"
              />
              <input
                type="text"
                id="inputAnio"
                class="form-control"
                placeholder="{{ txtSexto }}"
                [(ngModel)]="anioIngresado"
              />
            </div>
            <small class="form-text text-muted small-medio"
              >Fecha de nacimiento del usaurio</small
            >
          </div>
        </div>  -->
        <div class="registro-btn">
          <button type="button" class="btn btn-light" (click)="loguear()">
            Ir a Login
          </button>
          <button type="button" class="btn btn-warning" (click)="register()">
            Registrar
          </button>
        </div>
      </div>
      <div class="registro-info">
        <p>
          Te invito a conocer un nuevo espacio interactivo, para que puedas
          pasar tiempo y disfrutar de los juegos
          <img (click)="home()" src="assets/icon-clean.png" alt="icono" />
        </p>
      </div>
    </div>
  </div>
</div>
