<div class="home-container">
  <div class="inicio">
    <h1 class="title-app" routerLink="/home" routerLinkActive="active">
      Perfe <img class="home-icon" src="assets/icon-clean.png" alt="icono" />t
      Game
    </h1>
    <!-- dentro de una card? -->
    <p>
      Bienvenido a un lugar donde puedes relajarte, divertirte y explorar nuevos
      mundos. Este es un espacio diseñado para que todos disfruten y jueguen,
      donde siempre puedes encontrar entretenimiento y compartir la experiencia
      con otras personas
    </p>
  </div>
</div>
