<section class="seccion-imagen">
  <div class="home-container">
    <div class="inicio">
      <h1 class="title-app" routerLink="/home" routerLinkActive="active">
        Perfe <img class="home-icon" src="assets/icon-clean.png" alt="icono" />t
        Game
      </h1>
      <div class="card text-center">
        <div class="card-body">
          <h3 class="card-title">(- Acerca de la página -)</h3>
          <p class="card-text">
            Bienvenido a un lugar donde puedes relajarte, divertirte y explorar
            nuevos mundos. Este es un espacio diseñado para que todos disfruten
            y jueguen, donde siempre puedes encontrar entretenimiento y
            compartir la experiencia con otras personas.
          </p>
          <button type="button" class="btn btn-warning" (click)="quienSoy()">
            Quién Soy
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="seccion-juegos">
  <div class="top-bloque-juego">
    <img class="rayo-izq" src="assets/rayo-izquierdo.png" alt="rayo" />
    <h2 class="titulo-juegos">Juegos Disponibles</h2>
    <img class="rayo-der" src="assets/rayo-derecho.png" alt="rayo" />
  </div>
  <div class="doble-card">
    <div class="bloque-juego">
      <button type="button" class="btn btn-secondary btn-left-one"></button>
      <div class="card text-end card-right">
        <div class="card-body">
          <h5 class="card-title">Ahorcado</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
          <p *ngIf="visibleAhorcadoTxt" class="card-text">
            With supporting text below as a natural lead-in to additional
            content. With supporting text below as a natural lead-in to
            additional content. With supporting text below as a natural lead-in
            to additional content.
          </p>
          <button
            (click)="toggleAhorcadoTxt()"
            type="button"
            class="btn btn-warning"
          >
            {{ txtButtonA }}
          </button>
        </div>
      </div>
    </div>
    <div class="bloque-juego">
      <div class="card mb-3 card-left">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
          <p *ngIf="visibleMayorMenorTxt" class="card-text">
            With supporting text below as a natural lead-in to additional
            content. With supporting text below as a natural lead-in to
            additional content. With supporting text below as a natural lead-in
            to additional content.
          </p>
          <button
            (click)="toggleMayorMenorTxt()"
            type="button"
            class="btn btn-warning"
          >
            {{ txtButtonB }}
          </button>
        </div>
      </div>
      <button type="button" class="btn btn-secondary btn-right-one"></button>
    </div>
  </div>
  <div class="doble-card">
    <div class="bloque-juego">
      <button type="button" class="btn btn-secondary btn-left-two"></button>
      <div class="card text-end card-right">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
          <p *ngIf="visiblePreguntadosTxt" class="card-text">
            With supporting text below as a natural lead-in to additional
            content. With supporting text below as a natural lead-in to
            additional content. With supporting text below as a natural lead-in
            to additional content.
          </p>
          <button
            (click)="togglePreguntadosTxt()"
            type="button"
            class="btn btn-warning"
          >
            {{ txtButtonC }}
          </button>
        </div>
      </div>
    </div>
    <div class="bloque-juego">
      <div class="card mb-3 card-left">
        <div class="card-body">
          <h5 class="card-title">Generala</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
          <p *ngIf="visibleGeneralaTxt" class="card-text">
            With supporting text below as a natural lead-in to additional
            content. With supporting text below as a natural lead-in to
            additional content. With supporting text below as a natural lead-in
            to additional content.
          </p>
          <button
            (click)="toggleGeneralaTxt()"
            type="button"
            class="btn btn-warning btn-text"
          >
            {{ txtButtonD }}
          </button>
        </div>
      </div>
      <button type="button" class="btn btn-secondary btn-right-two"></button>
    </div>
  </div>
</section>
