.seccion-imagen {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("./../../../assets/atroz.jpg") no-repeat center;
  background-size: cover;
  height: auto;
  width: 100%;
  border-bottom: 4px solid #a9a9a9;
  z-index: -1;
}

.seccion-juegos {
  position: relative;
  overflow: hidden;
}

.seccion-juegos::before,
.seccion-juegos::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 12%;
  background-size: cover;
  background-repeat: no-repeat;
}

.seccion-juegos::before {
  left: 0;
  background-image: url("./../../../assets/lava-wall.jpg");
  /* background-image: url("./../../../assets/lava-wall.jpg"); */
  border-right: 4px solid #a9a9a9;
}

.seccion-juegos::after {
  right: 0;
  background-image: url("./../../../assets/lava-wall.jpg");
  /* background-image: url("./../../../assets/lava-wall.jpg"); */
  border-left: 4px solid #a9a9a9;
}

.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 44px;
}

.title-app {
  text-decoration: none;
  color: white;
  font-size: 76px;
  font-family: "Metal Mania", cursive;
  transition: 0.4s;
  margin: 0;
  text-shadow: -2.5px -2.5px 0 #000, 2.5px -2.5px 0 #000,
    -2.5px 2.5px 0 hsl(0, 0%, 0%), 2.5px 2.5px 0 #000;
}

.home-icon {
  height: 77px;
  width: 77px;
  margin-left: -17px;
  margin-right: 6px;
}

.inicio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 54%;
}

.inicio button {
  transition: 0.4s;
}

.inicio p {
  font-size: 26px;
  margin-top: 10px;
  color: #fff;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2.5px solid white;
  background: rgba(136, 134, 134, 0.4);
  font-family: "Grenze Gotisch", serif;
  margin: 30px;
  width: 100%;
}

.card-title {
  font-size: 42px;
  font-weight: 600;
  margin-top: 2px;
  cursor: pointer;
  transition: 0.4s;
  background: linear-gradient(270deg, #cbd217 10%, #bc152e 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #000;
}

.card p {
  font-family: "Grenze Gotisch", serif;
  font-size: 28px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 hsl(0, 0%, 0%),
    1px 1px 0 #000;
}

.card button {
  border: 2.5px solid rgb(45, 45, 45);
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 8px;
  margin-bottom: 16px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 30px;
  font-weight: 500;
  font-family: "Grenze Gotisch", serif;
  cursor: pointer;
}

.seccion-juegos {
  padding-bottom: 80px;
}

.titulo-juegos {
  display: flex;
  justify-content: center;
  font-size: 56px;
  font-weight: 550;
  font-family: "Metal Mania", cursive;
  background: linear-gradient(270deg, #cbd217 10%, #bc152e 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1.2px #000;
}

.doble-card {
  margin-top: 60px;
}

.top-bloque-juego {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  gap: 8px;
}

.rayo-izq {
  width: 94px;
  height: 94px;
  margin-right: 8px;
}

.rayo-der {
  width: 94px;
  height: 94px;
  margin-left: 4px;
}

.bloque-juego {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bloque-juego button {
  font-size: 22px;
  transition: 0.4s;
}

.bloque-juego p {
  font-size: 22px;
  color: #fff;
}

.card-right {
  margin-right: 20%;
  margin-top: 60px;
  margin-bottom: 70px;
  width: 32%;
}

.card-right h5 {
  font-size: 36px !important;
  padding-right: 4px !important;
}

.btn-left-one {
  background: url("./../../../assets/icon-ahorcado.png") no-repeat center;
}

.btn-left-two {
  background: url("./../../../assets/preguntados-original.png") no-repeat center;
}

.btn-left-one,
.btn-left-two {
  margin-left: 30%;
  background-size: cover;
  height: 180px;
  width: 180px;
}

.btn-left-one {
  background-color: rgb(192, 63, 63);
}

.btn-left-two {
  background-color: rgb(85, 91, 216);
}

.card-left {
  margin-left: 20%;
  margin-top: 60px;
  margin-bottom: 70px;
  width: 32%;
}

.card-left h5 {
  padding-left: 4px;
}

.btn-right-one {
  background: url("./../../../assets/mayor-menor-logo.jpg") no-repeat center;
}

.btn-right-two {
  background: url("./../../../assets/generala-logo.jpg") no-repeat center;
}

.btn-right-one,
.btn-right-two {
  margin-right: 30%;
  background-size: cover;
  background-color: rgb(230, 70, 70);
  margin-top: 40px;
  height: 180px;
  width: 180px;
}

.card-title:hover {
  transform: scale(1.02);
  transition: 0.4s;
}

.inicio button:hover {
  transform: scale(1.05);
  transition: 0.4s;
}

.bloque-juego button:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

@media (max-width: 1280px) {
  .seccion-juegos::before,
  .seccion-juegos::after {
    width: 8%;
  }

  .title-app {
    font-size: 66px;
  }

  .home-icon {
    height: 66px;
    width: 66px;
    margin-left: -13px;
    margin-right: 4px;
  }

  .card-title {
    font-size: 36px;
  }

  .card p {
    font-size: 26px;
  }

  .card button {
    font-size: 26px;
  }

  .inicio {
    width: 80%;
  }

  .titulo-juegos {
    font-size: 48px;
    font-weight: 550;
  }

  .doble-card {
    margin-top: 36px;
  }

  .top-bloque-juego {
    margin-top: 52px;
  }

  .rayo-izq {
    width: 74px;
    height: 74px;
    margin-right: 2px;
  }

  .rayo-der {
    width: 74px;
    height: 74px;
    margin-left: -4px;
  }

  .bloque-juego h5 {
    font-size: 28px !important;
  }

  .bloque-juego p {
    font-size: 20px !important;
  }

  .doble-card button {
    font-size: 20px !important;
  }

  .card-right {
    margin-right: 10% !important;
    width: 50% !important;
  }

  .btn-left {
    margin-left: 16%;
  }

  .card-left {
    margin-left: 10% !important;
    width: 50% !important;
  }

  .btn-right {
    margin-right: 16%;
  }

  .btn-left-one,
  .btn-left-two {
    margin-left: 14%;
  }

  .btn-right-one,
  .btn-right-two {
    margin-right: 14%;
  }
}

@media (max-width: 1024px) {
  .seccion-imagen {
    height: 54vh;
  }

  .seccion-juegos::before,
  .seccion-juegos::after {
    width: 8%;
  }

  .title-app {
    font-size: 56px;
  }

  .card-title {
    font-size: 28px;
  }

  .card p {
    font-size: 22px;
  }

  .card button {
    font-size: 24px;
  }

  .inicio {
    width: 80%;
  }

  .titulo-juegos {
    font-size: 48px;
    font-weight: 550;
  }

  .top-bloque-juego {
    margin-top: 40px;
  }

  .rayo-izq {
    width: 58px;
    height: 58px;
    margin-right: 2px;
  }

  .rayo-der {
    width: 58px;
    height: 58px;
    margin-left: -2px;
  }

  .bloque-juego h5 {
    font-size: 24px;
  }

  .bloque-juego p {
    font-size: 18px !important;
  }

  .doble-card button {
    font-size: 18px !important;
  }

  .card-right {
    margin-right: 10% !important;
    width: 50% !important;
  }

  .btn-left {
    margin-left: 10%;
  }

  .card-left {
    margin-left: 10% !important;
    width: 50% !important;
  }

  .btn-right {
    margin-right: 10%;
  }

  .bloque-juego p {
    font-size: 16px;
    color: #fff;
  }

  .btn-left-one,
  .btn-left-two {
    margin-left: 12%;
  }

  .btn-right-one,
  .btn-right-two {
    margin-right: 12%;
  }
}

@media (max-width: 768px) {
  .title-app {
    display: none;
  }

  .seccion-juegos::before,
  .seccion-juegos::after {
    width: 8%;
  }

  .card {
    margin-top: -40px;
  }

  .card-title {
    font-size: 25px;
  }

  .card p {
    font-size: 18px;
  }

  .card button {
    font-size: 20px;
    margin-top: -5px;
    margin-bottom: 5px;
  }

  .inicio {
    width: 90%;
  }

  .inicio h3 {
    font-size: 24px;
  }

  .inicio p {
    font-size: 22px;
  }

  .bloque-juego {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .bloque-juego h5 {
    font-size: 20px;
  }

  .bloque-juego p {
    font-size: 14px !important;
  }

  .doble-card button {
    font-size: 14px !important;
  }

  .rayo-der {
    display: none;
  }

  .rayo-izq {
    display: none;
  }

  .card-right,
  .card-left {
    display: none;
  }

  .btn-left-one,
  .btn-left-two {
    margin-right: 12% !important;
    height: 180px;
    width: 180px;
  }

  .btn-right-one,
  .btn-right-two {
    margin-left: 12% !important;
    height: 180px;
    width: 180px;
  }
}

@media (max-width: 600px) {
  .seccion-juegos::before,
  .seccion-juegos::after {
    width: 0%;
  }

  .rayo-der {
    display: none;
  }

  .rayo-izq {
    display: none;
  }

  .card-right,
  .card-left {
    display: none;
  }

  .btn-left-one,
  .btn-left-two {
    margin-right: 12% !important;
    height: 180px;
    width: 180px;
  }

  .btn-right-one,
  .btn-right-two {
    margin-left: 12% !important;
    height: 180px;
    width: 180px;
  }
}

@media (max-width: 440px) {
  .card {
    margin-top: -40px;
  }

  .card button {
    font-size: 20px;
  }

  .card-right,
  .card-left {
    display: none;
  }

  .btn-left-one,
  .btn-left-two {
    margin-right: 12% !important;
    height: 150px;
    width: 150px;
  }

  .btn-right-one,
  .btn-right-two {
    margin-left: 12% !important;
    height: 150px;
    width: 150px;
  }
}
