<section class="seccion-imagen">
  <div class="home-container">
    <div class="inicio">
      <h1 class="title-app" routerLink="/home" routerLinkActive="active">
        Perfect
        <img class="home-icon" src="assets/icon-clean.png" alt="icono" />Game
      </h1>
      <div class="card text-center">
        <div class="card-body">
          <h3 class="card-title">(- Acerca de la página -)</h3>
          <p class="card-text">
            Bienvenido a un lugar donde puedes relajarte, divertirte y explorar
            nuevos mundos. Este es un espacio diseñado para que todos disfruten
            y jueguen, donde siempre puedes encontrar entretenimiento y
            compartir la experiencia con otras personas.
          </p>
          <button type="button" class="btn btn-warning" (click)="quienSoy()">
            Quién Soy
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="seccion-juegos">
  <div class="top-bloque-juego">
    <img class="rayo-izq" src="assets/rayo-izquierdo.png" alt="rayo" />
    <h2 class="titulo-juegos">Juegos Disponibles</h2>
    <img class="rayo-der" src="assets/rayo-derecho.png" alt="rayo" />
  </div>
  <div class="doble-card">
    <div class="bloque-juego">
      <button
        type="button"
        class="btn btn-secondary btn-left-one"
        (click)="ingresoAhorcado()"
      ></button>
      <div class="card text-end card-right">
        <div class="card-body">
          <h5 class="card-title">Ahorcado</h5>
          <p class="card-text">
            Adivina la palabra oculta antes de que el dibujo del ahorcado se
            complete, eligiendo letras correctas en cada intento.
          </p>
        </div>
      </div>
    </div>
    <div class="bloque-juego">
      <div class="card mb-3 card-left">
        <div class="card-body">
          <h5 class="card-title">Mayor Menor</h5>
          <p class="card-text">
            Adivina si la siguiente carta será mayor o menor que la actual.
            ¡Acierta para ganar!
          </p>
        </div>
      </div>
      <button
        type="button"
        class="btn btn-secondary btn-right-one"
        (click)="ingresoMayorMenor()"
      ></button>
    </div>
  </div>
  <div class="doble-card">
    <div class="bloque-juego">
      <button
        type="button"
        class="btn btn-secondary btn-left-two"
        (click)="ingresoPreguntados()"
      ></button>
      <div class="card text-end card-right">
        <div class="card-body">
          <h5 class="card-title">Preguntados</h5>
          <p class="card-text">
            Responde preguntas de distintas categorías y compite contra otros
            jugadores para obtener la mayor cantidad de respuestas correctas.
          </p>
        </div>
      </div>
    </div>
    <div class="bloque-juego">
      <div class="card mb-3 card-left">
        <div class="card-body">
          <h5 class="card-title">Generala</h5>
          <p class="card-text">
            Lanza dados para formar combinaciones específicas como escalera,
            póker o generala, y consigue la mayor cantidad de puntos en varias
            rondas.
          </p>
        </div>
      </div>
      <button
        type="button"
        class="btn btn-secondary btn-right-two"
        (click)="ingresoGenerala()"
      ></button>
    </div>
  </div>
</section>
