.generala-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.inicio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 54%;
}

.title-app {
  text-decoration: none;
  color: white;
  font-size: 76px;
  font-family: "Metal Mania", cursive;
  margin: 0;
  text-shadow: -2.5px -2.5px 0 #000, 2.5px -2.5px 0 #000,
    -2.5px 2.5px 0 hsl(0, 0%, 0%), 2.5px 2.5px 0 #000;
}

.home-icon {
  height: 77px;
  width: 77px;
  margin-left: -16px;
  margin-right: 6px;
}

.card {
  background: url("./../../../../assets/wood-table.png") no-repeat center;
  background-size: cover;
  min-height: 100%;
  width: 100%;
  height: auto;
  display: flex;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  border: 3px solid black;
  margin-top: 10px;
  margin-bottom: 70px;
  font-family: "Grenze Gotisch", serif;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.menu h2 {
  margin-top: 40px;
  margin-bottom: 90px;
  font-size: 52px;
  font-weight: 600;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 hsl(0, 0%, 0%),
    2px 2px 0 #000;
}

.menu button {
  margin-top: 120px;
  margin-bottom: 60px;
  font-size: 36px;
  font-weight: 600;
  border: 2px solid black;
  text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000,
    -1.5px 1.5px 0 hsl(0, 0%, 0%), 1.5px 1.5px 0 #000;
  transition: 0.4s;
}

.juego-generala {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 34px;
  margin-bottom: 34px;
}

.dados-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 16px;
}

.dados-container img {
  width: 70px;
  height: 70px;
  margin: 10px 5px;
  border: 2px solid #141414;
  background: #141414;
  transition: 0.4s;
  cursor: pointer;
}

.guardar {
  transform: rotate(90deg);
  opacity: 0.5;
}

.btn-right {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.btn-right button {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 12px;
}

.btn-terminar {
  margin-bottom: 20px;
}

.btn-right button,
.btn-terminar button {
  border: 2px solid #000;
  text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000,
    -1.5px 1.5px 0 hsl(0, 0%, 0%), 1.5px 1.5px 0 #000;
  transition: 0.4s;
}

.generala-left,
.generala-right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Grenze Gotisch", serif;
  color: #fff;
}

.generala-left {
  margin-left: 6%;
}

.generala-right {
  margin-right: 6%;
  text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000,
    -1.5px 1.5px 0 hsl(0, 0%, 0%), 1.5px 1.5px 0 #000;
}

.generala-right h2 {
  font-size: 42px;
  font-weight: 600;
}

.generala-left h3,
.generala-right h3 {
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 32px;
  text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000,
    -1.5px 1.5px 0 hsl(0, 0%, 0%), 1.5px 1.5px 0 #000;
}

.generala-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-tabla {
  font-size: 28px;
  font-weight: 500;
}

.body-tabla {
  font-size: 24px;
  font-weight: 500;
}

.generala-table {
  width: 70%;
  border-collapse: collapse;
  background-color: #2c2c2c;
  border: 3px solid #1a1a1a;
  border-radius: 15px;
  overflow: hidden;
}

.generala-table th,
.generala-table td {
  padding: 12px 20px;
  text-align: center;
  color: white;
  border: 2px solid #1a1a1a;
}

.generala-table th {
  background-color: #2a2a2a;
}

.generala-table td {
  background-color: #333;
}

.generala-table tr:first-child th {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.generala-table tr:last-child td {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.item-juegos {
  transition: 0.3s;
  cursor: pointer;
}

.sec-table {
  margin-top: 40px !important;
}

.msj-final-turno {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  font-size: 20px;
}

.msj-final-turno p {
  margin-top: -20px;
}

.card-como-jugar {
  border: 2.5px solid white;
  background: rgba(136, 134, 134, 0.4);
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 60px;
  margin-bottom: 60px;
  font-family: "Grenze Gotisch", serif;
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: 500;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  color: #fff;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 hsl(0, 0%, 0%),
    2px 2px 0 #000;
}

.card-info p {
  color: #fff;
  margin: 14px;
  margin-top: -8px;
  text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000,
    -1.5px 1.5px 0 hsl(0, 0%, 0%), 1.5px 1.5px 0 #000;
}

.exp-general {
  font-size: 26px;
  font-weight: 500;
}

.info-pto {
  font-size: 24px;
  font-weight: 500;
  padding-left: 12px !important;
}

.letra-pto {
  font-size: 24px;
  font-weight: 500;
  padding-left: 24px !important;
}

.item-juegos:hover {
  transform: scale(1.025);
  transition: 0.3s;
}

.btn-right button:hover,
.btn-terminar button:hover,
.dados-container img:hover {
  transform: scale(1.05);
  transition: 0.4s;
}

.menu button:hover {
  transform: scale(1.04);
  transition: 0.4s;
}

@media (max-width: 1280px) {
  .title-app {
    font-size: 62px;
  }

  .home-icon {
    height: 64px;
    width: 64px;
    margin-left: -13px;
    margin-right: 5px;
  }

  .card {
    width: 84%;
    margin-left: 7%;
    margin-right: 7%;
  }

  .card-como-jugar {
    width: 76%;
    margin-left: 12%;
    margin-right: 12%;
  }

  .card-header {
    font-size: 32px;
  }

  .exp-general {
    font-size: 24px;
    font-weight: 500;
  }

  .info-pto {
    font-size: 22px;
    font-weight: 500;
  }

  .letra-pto {
    font-size: 22px;
    font-weight: 500;
  }
}

@media (max-width: 768px) {
  .title-app {
    display: none;
  }

  .home-icon {
    height: 56px;
    width: 56px;
    margin-left: -11px;
    margin-right: 4px;
  }

  .card {
    margin-top: -24px;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
  }

  .menu h2 {
    font-size: 42px;
    font-weight: 600;
  }

  .menu button {
    font-size: 28px;
    font-weight: 500;
  }

  .dados-container img {
    width: 49px;
    height: 49px;
  }

  .btn-right button {
    font-size: 18px;
  }

  .generala-right h2 {
    font-size: 28px;
    font-weight: 600;
  }

  .btn-terminar {
    margin-bottom: 12px;
  }

  .header-tabla {
    font-size: 20px;
  }

  .body-tabla {
    font-size: 18px;
  }

  .generala-table th,
  .generala-table td {
    padding: 10px 14px;
  }

  .msj-final-turno {
    font-size: 16px;
  }

  .card-como-jugar {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .card-header {
    font-size: 28px;
  }

  .exp-general {
    font-size: 22px;
    font-weight: 500;
  }

  .info-pto {
    font-size: 20px;
    font-weight: 500;
  }

  .letra-pto {
    font-size: 20px;
    font-weight: 500;
  }
}
