.mayor-menor-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.inicio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 54%;
}

.title-app {
  text-decoration: none;
  color: white;
  font-size: 76px;
  font-family: "Metal Mania", cursive;
  transition: 0.4s;
  margin: 0;
  text-shadow: -2.5px -2.5px 0 #000, 2.5px -2.5px 0 #000,
    -2.5px 2.5px 0 hsl(0, 0%, 0%), 2.5px 2.5px 0 #000;
}

.home-icon {
  height: 77px;
  width: 77px;
  margin-left: -16px;
  margin-right: 6px;
}

.card {
  background: url("./../../../../assets/bg-cartas.jpg") no-repeat center;
  background-size: cover;
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  border: 3px solid black;
  margin-bottom: 70px;
}

.card-img-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.game-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-mm {
  text-decoration: none;
  color: white;
  font-size: 62px;
  padding-top: 30px;
  padding-bottom: 40px;
  font-family: "Grenze Gotisch", serif;
  /* transition: 0.4s; */
  margin: 0;
  text-shadow: -2.5px -2.5px 0 #000, 2.5px -2.5px 0 #000,
    -2.5px 2.5px 0 hsl(0, 0%, 0%), 2.5px 2.5px 0 #000;
}

.dorso {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dorso img,
.carta-actual img {
  width: 280px !important;
  height: auto;
  transition: 0.5s;
}

.cartas-juego {
  display: flex;
  align-items: center !important;
  justify-content: space-between;
  margin-top: 36px;
}

.carta-anterior img {
  width: 205px !important;
  height: auto;
  transition: 0.5s;
}

.cartas {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.start-game,
.game-over {
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-game button,
.game-over button {
  border: 2.5px solid rgb(45, 45, 45);
  font-size: 40px;
  font-weight: 500;
  margin-top: 44px;
  margin-bottom: 32px;
  font-family: "Grenze Gotisch", serif;
  cursor: pointer;
  transition: 0.4s;
}

.columna-actual,
.columna-anterior {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.columna-actual {
  margin-left: 50px;
}

.columna-anterior {
  margin-right: 50px;
}

.columna-actual p,
.columna-anterior p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carta-anterior p {
  font-size: 28px;
  font-weight: 600;
  font-family: "Grenze Gotisch", serif;
  margin-top: 6px;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 hsl(0, 0%, 0%),
    2px 2px 0 #000;
}

.columna-actual p {
  font-size: 23px;
  font-weight: 500;
  font-family: "Grenze Gotisch", serif;
  margin-top: 8px;
  text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000,
    -1.5px 1.5px 0 hsl(0, 0%, 0%), 1.5px 1.5px 0 #000;
}

.puntos {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2.5px solid white;
  background: rgba(136, 134, 134, 0.4);
  width: 19%;
  padding-top: 10px;
  margin-bottom: 8px;
  border-radius: 12px;
}

.puntos p {
  font-size: 36px;
  font-weight: 500;
  font-family: "Grenze Gotisch", serif;
  margin-bottom: 18px;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 hsl(0, 0%, 0%),
    2px 2px 0 #000;
}

.btn-opciones {
  margin-top: 28px;
  margin-bottom: 10px;
}

.ingame-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ingame-btn button {
  border: 2.5px solid rgb(42, 42, 42);
  background-color: rgb(171, 171, 171);
  color: #000;
  font-size: 42px;
  font-weight: 500;
  margin-top: -2px;
  margin-bottom: 20px;
  font-family: "Grenze Gotisch", serif;
  cursor: pointer;
  transition: 0.4s;
}

.igual {
  margin-left: 30px;
  margin-right: 30px;
}

.msg {
  font-size: 28px;
  font-weight: 600;
  font-family: "Grenze Gotisch", serif;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 hsl(0, 0%, 0%),
    2px 2px 0 #000;
  margin-top: -16px !important;
  margin-bottom: 12px;
}

.final-msg {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 26px;
  font-weight: 600;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 hsl(0, 0%, 0%),
    2px 2px 0 #000;
  padding-top: 8px;
  margin-bottom: -10px;
  font-family: "Grenze Gotisch", serif;
}

.notificacion {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  pointer-events: none;
}

.notificacion img {
  max-width: 1000px;
}

.ranking {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 70px;
  font-family: "Grenze Gotisch", serif;
  color: #fff;
}

.ranking h3 {
  font-size: 36px !important;
  font-weight: 600;
  margin-bottom: 28px;
  text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000,
    -1.5px 1.5px 0 hsl(0, 0%, 0%), 1.5px 1.5px 0 #000;
}

.ranking-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-tabla {
  font-size: 28px;
  font-weight: 500;
}

.body-tabla {
  font-size: 24px;
  font-weight: 500;
}

.header-usuario,
.header-puntos {
  color: white;
}

.ranking-table {
  width: 70%;
  border-collapse: collapse;
  background-color: #2c2c2c;
  border: 3px solid #1a1a1a;
  border-radius: 15px;
  overflow: hidden;
}

.ranking-table th,
.ranking-table td {
  padding: 12px 20px;
  text-align: center;
  color: white;
  border: 2px solid #1a1a1a;
}

.ranking-table th {
  background-color: #2a2a2a;
}

.ranking-table td {
  background-color: #333;
}

.ranking-table tr:first-child th {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.ranking-table tr:last-child td {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.card-como-jugar {
  border: 2.5px solid white;
  background: rgba(136, 134, 134, 0.4);
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Grenze Gotisch", serif;
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: 500;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  color: #fff;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 hsl(0, 0%, 0%),
    2px 2px 0 #000;
}

.card-info p {
  color: #fff;
  margin: 14px;
  margin-top: -8px;
  text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000,
    -1.5px 1.5px 0 hsl(0, 0%, 0%), 1.5px 1.5px 0 #000;
}

.exp-general {
  font-size: 26px;
  font-weight: 500;
}

.info-pto {
  font-size: 24px;
  font-weight: 500;
  padding-left: 12px !important;
}

.letra-pto {
  font-size: 24px;
  font-weight: 500;
  padding-left: 24px !important;
}

.info-enlace {
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-game button:hover,
.game-over button:hover,
.card-info a:hover,
.ingame-btn button:hover {
  transform: scale(1.05);
  transition: 0.4s;
}

.dorso img:hover,
.carta-actual img:hover,
.carta-anterior img:hover {
  transform: scale(1.02);
  transition: 0.5s;
}

@media (max-width: 1280px) {
  .title-app {
    font-size: 62px;
  }

  .home-icon {
    height: 64px;
    width: 64px;
    margin-left: -13px;
    margin-right: 5px;
  }

  .card {
    width: 84%;
    margin-left: 7%;
    margin-right: 7%;
  }

  .title-mm {
    font-size: 52px;
  }

  .dorso img,
  .carta-actual img {
    width: 220px !important;
    height: auto;
  }

  .cartas-juego {
    margin-top: 36px;
  }

  .carta-anterior img {
    width: 160px !important;
    height: auto;
  }

  .start-game button,
  .game-over button {
    font-size: 36px;
  }

  .columna-actual {
    margin-left: 45px;
  }

  .columna-anterior {
    margin-right: 45px;
  }

  .carta-anterior p {
    font-size: 24px;
    font-weight: 500;
  }

  .columna-actual p {
    font-size: 20px;
  }

  .puntos {
    padding-top: 8px;
    width: 18%;
  }

  .puntos p {
    font-size: 32px;
  }

  .btn-opciones {
    margin-top: 28px;
    margin-bottom: 10px;
  }

  .ingame-btn button {
    font-size: 36px;
  }

  .igual {
    margin-left: 30px;
    margin-right: 30px;
  }

  .msg {
    font-size: 24px;
    font-weight: 500;
  }

  .final-msg {
    font-size: 22px;
    font-weight: 500;
  }

  .card-como-jugar {
    width: 76%;
    margin-left: 12%;
    margin-right: 12%;
  }

  .card-header {
    font-size: 32px;
  }

  .exp-general {
    font-size: 24px;
    font-weight: 500;
  }

  .info-pto {
    font-size: 22px;
    font-weight: 500;
  }

  .letra-pto {
    font-size: 22px;
    font-weight: 500;
  }
}

@media (max-width: 768px) {
  .title-app {
    display: none;
  }

  .home-icon {
    height: 56px;
    width: 56px;
    margin-left: -11px;
    margin-right: 4px;
  }

  .card {
    margin-top: -24px;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
  }

  .title-mm {
    font-size: 44px;
  }

  .dorso img,
  .carta-actual img {
    width: 180px !important;
    height: auto;
  }

  .cartas-juego {
    margin-top: 36px;
  }

  .carta-anterior img {
    width: 125px !important;
    height: auto;
  }

  .start-game button,
  .game-over button {
    font-size: 28px;
    margin-top: 38px;
  }

  .columna-actual {
    margin-left: 32px;
  }

  .columna-anterior {
    margin-right: 32px;
  }

  .carta-anterior p {
    font-size: 20px;
    font-weight: 500;
  }

  .columna-actual p {
    font-size: 17px;
  }

  .puntos {
    padding-top: 8px;
    width: 32%;
  }

  .puntos p {
    font-size: 26px;
  }

  .btn-opciones {
    margin-top: 28px;
    margin-bottom: 10px;
  }

  .ingame-btn button {
    font-size: 32px;
  }

  .igual {
    margin-left: 25px;
    margin-right: 25px;
  }

  .msg {
    font-size: 20px;
    font-weight: 500;
  }

  .final-msg {
    font-size: 18px;
    font-weight: 500;
  }

  .ranking h3 {
    font-size: 26px !important;
    font-weight: 600;
  }

  .header-tabla {
    font-size: 22px;
  }

  .body-tabla {
    font-size: 18px;
  }

  .ranking-table {
    width: 70%;
  }

  .card-como-jugar {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .card-header {
    font-size: 28px;
  }

  .exp-general {
    font-size: 22px;
    font-weight: 500;
  }

  .info-pto {
    font-size: 20px;
    font-weight: 500;
  }

  .letra-pto {
    font-size: 20px;
    font-weight: 500;
  }
}
