<div class="costados">
  <div class="foro-container">
    <div class="initial-container">
      <h2 class="title">Foro</h2>
      <p class="info">
        Este es un espacio de interacción entre usuarios, permitiendo
        discusiones, intercambio de ideas, resolución de problemas y la
        construcción de una comunidad.
      </p>
    </div>

    <div class="form-style">
      <form (submit)="enviarMensaje()">
        <textarea
          class="form-control user-text"
          [(ngModel)]="nuevoMensaje"
          name="mensaje"
          required
          placeholder="Escribe tu mensaje..."
        ></textarea>
        <button class="btn btn-secondary" type="submit">Enviar</button>
      </form>
    </div>
    <!-- Esta capa bloquea la interacción -->
    <div class="bloquear"></div>
    <div *ngIf="isLoadingMensajes" class="notificacion">
      <img src="/assets/loading-react.gif" alt="Loading" />
    </div>

    <div *ngIf="!isLoadingMensajes" class="mensajes">
      <div *ngFor="let mensaje of mensajes">
        <div
          class="alert alert-dark"
          role="alert"
          [ngStyle]="{
            'background-image':
              mensaje.usuario === usuarioAdmin
                ? 'url(/assets/kratos.jpg)'
                : mensaje.usuario === usuarioEspecial
                ? 'url(/assets/devil-mcry.png)'
                : mensaje.usuario === usuarioSlayer
                ? 'url(/assets/doom.jpg)'
                : 'url(/assets/normal-banner.jpg)',
            color: '#fff',
            'background-color': 'transparent',
            'text-shadow':
              '-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000',
            'background-size': 'cover',
            'background-repeat': 'no-repeat'
          }"
        >
          <p class="usuario">
            <strong>{{ mensaje.usuario }}</strong>
            <span style="float: right">{{
              formatDate(mensaje.timestamp)
            }}</span>
          </p>
          <p class="texto-msj">{{ mensaje.texto }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
