.pp {
  background: url("./../../src/assets/solid-grey.jpg") no-repeat center fixed;
  background-size: cover;
  min-height: 100%;
  width: 100%;
  z-index: -1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #2c2c2c;
  border-bottom: 4px solid #a9a9a9;
}

.nav-title {
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
}

.title-app {
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 36px;
  font-family: "Metal Mania", cursive;
  margin: 0;
  transition: 0.6s;
}

.nav-icon {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin-left: -8px;
  margin-right: 3px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
}

.nav-links li {
  margin: 0;
}

.nav-links a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  font-family: "Grenze Gotisch", serif;
  padding: 8px 12px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.nav-links a:hover {
  background-color: #555;
  border-radius: 4px;
}

.footer-app {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2c2c2c;
  min-height: 18vh;
}

footer {
  border-top: 4px solid #a9a9a9;
}

.home-icon {
  height: 70px;
  width: 70px;
  margin-left: -16px;
  margin-right: 6px;
}

.title-footer {
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 64px;
  font-family: "Metal Mania", cursive;
  margin: 0;
  transition: 0.6s;
}

.title-app:hover {
  color: #eb8353;
  transition: 0.5s;
}

.title-footer:hover {
  color: #eb8353;
  transition: 0.5s;
}

@media (max-width: 768px) {
  .title-app {
    font-size: 30px;
  }

  .nav-icon {
    height: 32px;
    width: 32px;
    margin-left: -8px;
    margin-right: 3px;
  }

  .nav-links {
    gap: 10px;
  }

  .nav-links a {
    font-size: 20px;
  }

  .user-txt {
    font-size: 20px;
  }

  .footer-app h1 {
    font-size: 42px;
  }

  .footer-app img {
    height: 48px;
    width: 48px;
    margin-left: -11px;
    margin-right: 4px;
  }
}
