<div class="pp">
  <nav class="navbar">
    <div>
      <h1 class="title-app" routerLink="/home" routerLinkActive="active">
        Perfe <img class="nav-icon" src="assets/icon-clean.png" alt="icono" />t
        Game
      </h1>
    </div>
    <ul class="nav-links">
      <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
      <li><a routerLink="/registro" routerLinkActive="active">Registro</a></li>
    </ul>
  </nav>
  <router-outlet />
  <footer class="footer-app">
    <div class="columna-logo">
      <h1 class="title-footer" routerLink="/home" routerLinkActive="active">
        Perfe <img class="home-icon" src="assets/icon-clean.png" alt="icono" />t
        Game
      </h1>
    </div>
  </footer>
</div>
