.img-login {
  background: url("./../../../assets/doom.jpg") no-repeat center fixed;
  background-size: cover;
  min-height: 100%;
  width: 100%;
  /* z-index: -1; */
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 30%;
  padding-top: 130px;
  padding-bottom: 130px;
}

.notificacion {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  pointer-events: all;
}

.notificacion img {
  max-width: 1000px;
}

.bloquear {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  /* Bloquea la interacción con todo el resto */
  pointer-events: none;
}

.card {
  border: 2.5px solid black;
  background: rgba(42, 42, 42, 0.4);
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 36px;
  margin-bottom: 18px;
  padding-bottom: -20px;
  font-family: "Metal Mania", cursive;
  font-size: 64px;
  font-weight: 700;
  color: #fff;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
}

.login-input {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
}

.login-input input {
  border: 2.5px solid rgb(45, 45, 45);
  font-size: 32px;
  font-weight: 500;
  font-family: "Grenze Gotisch", serif;
  width: 90%;
  margin-top: 12px;
  margin-bottom: 20px;
  margin-left: 34px;
  margin-right: 34px;
}

.login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 20px;
}

.login-btn button {
  border: 2.5px solid rgb(45, 45, 45);
  padding-left: 10px;
  padding-right: 10px;
  font-size: 36px;
  font-weight: 500;
  font-family: "Grenze Gotisch", serif;
  cursor: pointer;
  transition: 0.4s;
}

.quick-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quick-access-left {
  margin-left: 18px;
}

.quick-access-right {
  margin-right: 18px;
}

.quick-access-left,
.quick-access-right {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2px;
}

.quick-access-left p,
.quick-access-right {
  color: #fff;
  font-size: 22px;
  font-family: "Grenze Gotisch", serif;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
}

.quick-access-left img {
  margin-bottom: 12px;
  margin-left: 6px;
  cursor: pointer;
  transition: 0.4s;
}

.user-icon {
  height: auto;
  width: 60px;
}

.slayer-icon {
  height: auto;
  width: 64px;
}

.quick-access-right img {
  height: auto;
  width: 54px;
  margin-bottom: 12px;
  margin-left: 6px;
  cursor: pointer;
  transition: 0.4s;
}

.register-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #fff;
  font-size: 22px;
  font-family: "Grenze Gotisch", serif;
  margin-bottom: 12px;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
}

.register-info p {
  margin: 10px;
}

.register-info img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.register-info a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-family: "Metal Mania", cursive;
  cursor: pointer;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
}

.register-info a:hover {
  text-decoration: underline;
}

.login-btn button:hover {
  transform: scale(1.04);
  transition: 0.4s;
}

.quick-access-left img:hover,
.quick-access-right img:hover {
  transform: scale(1.08);
  transition: 0.4s;
}

@media (max-width: 1024px) {
  .title {
    font-size: 60px;
  }

  .login {
    margin: 0 18%;
  }

  .login-input {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .register-info {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .login {
    margin: 0;
  }

  .login-input {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
  }

  .login-input input {
    font-size: 24px;
  }

  .login-btn button {
    font-size: 26px;
  }

  .quick-access-left p,
  .quick-access-right {
    font-size: 20px;
  }

  .quick-access-left img,
  .quick-access-right img {
    width: 44px;
  }

  .register-info {
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
  }
}
