<div class="img-login">
  <div class="login">
    <div class="card text-center">
      <div>
        <h1 class="title">{{ title }}</h1>
      </div>
      <div class="card-body">
        <div class="login-input">
          <input
            type="email"
            id="inputUser"
            class="form-control"
            placeholder="{{ txtPrimero }}"
            [(ngModel)]="userIngresado"
            autocomplete="off"
          />
          <input
            type="password"
            id="inputPass"
            class="form-control"
            aria-describedby="passwordHelpBlock"
            placeholder="{{ txtSegundo }}"
            [(ngModel)]="claveIngresado"
            autocomplete="off"
          />
        </div>
        <div class="login-btn">
          <button type="button" class="btn btn-light" (click)="login()">
            Login
          </button>
        </div>
      </div>
      <div class="quick-row">
        <div class="quick-access-left">
          <p>Accesso rápido</p>
          <img
            class="user-icon"
            src="assets/icon-programmer.png"
            alt="quick-login"
            (click)="accessoRapidoUser()"
          />
          <img
            class="slayer-icon"
            src="assets/sleyer.png"
            alt="quick-login"
            (click)="accessoRapidoSlayer()"
          />
        </div>
        <div class="quick-access-right">
          <p>Limpiar casillas</p>
          <img
            src="assets/icon-basura.png"
            alt="borrar-datos"
            (click)="limpiarInputs()"
          />
        </div>
      </div>
      <div class="register-info">
        <p>
          Si no estás registrado, entra a
          <a (click)="registro()">Registrar</a> para crear una cuenta
          <img (click)="home()" src="assets/icon-clean.png" alt="icono" />
        </p>
      </div>
    </div>
  </div>
</div>
