.seccion-imagen {
  background: url("./../../../assets/atroz.jpg") no-repeat center fixed;
  background-size: cover;
  min-height: 100%;
  width: 100%;
  z-index: -1;
}

.page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 70px;
  padding-bottom: 54px;
}

.title-app {
  text-decoration: none;
  color: white;
  font-size: 76px;
  font-family: "Metal Mania", cursive;
  margin: 0;
  text-shadow: -2.5px -2.5px 0 #000, 2.5px -2.5px 0 #000,
    -2.5px 2.5px 0 hsl(0, 0%, 0%), 2.5px 2.5px 0 #000;
}

.page-icon {
  height: 77px;
  width: 77px;
  margin-left: -17px;
  margin-right: 6px;
}

.inicio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 54%;
}

.card {
  border: 2.5px solid white;
  background: rgba(136, 134, 134, 0.4);
  font-family: "Grenze Gotisch", serif;
  margin-top: 60px;
  width: 100%;
}

.card-title {
  font-size: 44px;
  font-weight: 600;
  margin-top: 4px;
  margin-bottom: 4px;
  background: linear-gradient(270deg, #cbd217 10%, #bc152e 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #000;
}

.card p {
  font-family: "Grenze Gotisch", serif;
  font-size: 26px;
  margin-bottom: 12px;
  text-align: left;
  color: #fff;
}

.back-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 44px;
}

.back-btn button {
  border: 2.5px solid rgb(45, 45, 45);
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 32px;
  font-weight: 500;
  font-family: "Grenze Gotisch", serif;
  transition: 0.3s;
  cursor: pointer;
}

.back-btn button:hover {
  transform: scale(1.04);
  transition: 0.3s;
}

@media (max-width: 768px) {
  .title-app {
    font-size: 64px;
  }

  .page-icon {
    height: 62px;
    width: 62px;
    margin-left: -12px;
    margin-right: 6px;
  }

  .card-title {
    font-size: 36px;
  }

  .card p {
    font-size: 22px;
  }

  .back-btn button {
    font-size: 26px;
  }
}
