.ahorcado-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.inicio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 54%;
}

.title-app {
  text-decoration: none;
  color: white;
  font-size: 76px;
  font-family: "Metal Mania", cursive;
  transition: 0.4s;
  margin: 0;
  text-shadow: -2.5px -2.5px 0 #000, 2.5px -2.5px 0 #000,
    -2.5px 2.5px 0 hsl(0, 0%, 0%), 2.5px 2.5px 0 #000;
}

.home-icon {
  height: 77px;
  width: 77px;
  margin-left: -16px;
  margin-right: 6px;
}

.card {
  background: url("./../../../../assets/dark-forest.jpg") no-repeat center;
  background-size: cover;
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  border: 3px solid black;
  margin-bottom: 70px;
  font-family: "Grenze Gotisch", serif;
}

.game-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-title img {
  display: flex;
  justify-content: flex-start !important;
}

.tipo-palabras {
  margin-top: 48px;
  margin-bottom: -155px;
}

.tipo-palabras h2 {
  /* font-size: 28px; */
  text-shadow: -2.5px -2.5px 0 #000, 2.5px -2.5px 0 #000,
    -2.5px 2.5px 0 hsl(0, 0%, 0%), 2.5px 2.5px 0 #000;
}

.btns-home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn-eleccion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 190px;
}

.btn-eleccion button {
  border: 2px solid black;
  font-size: 32px;
  font-weight: 600;
  transition: 0.4s;
}

.opciones-ingles {
  margin-top: 25px;
  margin-bottom: -55px;
}

.opciones-ingles button {
  border: 2px solid black;
  transition: 0.4s;
}

.btn-midle {
  margin-left: 14px;
  margin-right: 14px;
}

.btn-home {
  margin-top: 90px;
  margin-bottom: 60px;
  font-size: 32px;
}

.btn-home button {
  border: 2px solid black;
  font-size: 38px;
  font-weight: 600;
  transition: 0.4s;
}

.btn-home-right {
  margin-left: 20px;
}

.btn-home-left {
  margin-right: 20px;
}

.juego-ahorcado {
  text-align: center;
}

.puntuacion {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.5em;
}

.palabra-oculta {
  margin-top: 28px;
  margin-bottom: 32px;
}

.palabra-oculta h2 {
  font-size: 36px;
  letter-spacing: 0.5em;
}

.letras-incorrectas {
  margin: 20px 0;
}

.estado-juego {
  margin-top: 8px;
  font-size: 24px;
  font-weight: 600;
}

.estado-juego p {
  margin-top: 22px;
  margin-bottom: 28px;
  font-size: 24px;
  font-weight: 600;
}

.estado-juego button {
  border: 2px solid black;
  margin-top: 8px;
  font-size: 22px;
  font-weight: 600;
  transition: 0.4s;
}

.botones-letras button {
  border: 2px solid rgb(198, 198, 198);
  background: #666666;
  margin: 5px;
  height: auto;
  width: 80px;
  font-size: 28px;
  font-weight: 600;
  transition: 0.4s;
}

.mensajes-finales {
  margin-top: 124px;
  margin-bottom: 32px;
}

.mensajes-finales p {
  margin-top: 20px;
  font-size: 28px;
  font-weight: 600;
}

.mensajes-finales button {
  border: 2px solid black;
  color: #000;
  margin-top: 40px;
  font-size: 28px;
  font-weight: 600;
  transition: 0.4s;
}

.ronda-ganada,
.ronda-perdida {
  text-shadow: -2.5px -2.5px 0 #000, 2.5px -2.5px 0 #000,
    -2.5px 2.5px 0 hsl(0, 0%, 0%), 2.5px 2.5px 0 #000;
}

.ronda-ganada {
  color: #1b9e39;
}

.ronda-perdida {
  color: #ba362d;
}

.ranking {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 70px;
  font-family: "Grenze Gotisch", serif;
  color: #fff;
}

.ranking h3 {
  font-size: 36px !important;
  font-weight: 600;
  margin-bottom: 28px;
  text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000,
    -1.5px 1.5px 0 hsl(0, 0%, 0%), 1.5px 1.5px 0 #000;
}

.ranking-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-tabla {
  font-size: 28px;
  font-weight: 500;
}

.body-tabla {
  font-size: 24px;
  font-weight: 500;
}

.header-usuario,
.header-puntos {
  color: white;
}

.ranking-table {
  width: 70%;
  border-collapse: collapse;
  background-color: #2c2c2c;
  border: 3px solid #1a1a1a;
  border-radius: 15px;
  overflow: hidden;
}

.ranking-table th,
.ranking-table td {
  padding: 12px 20px;
  text-align: center;
  color: white;
  border: 2px solid #1a1a1a;
}

.ranking-table th {
  background-color: #2a2a2a;
}

.ranking-table td {
  background-color: #333;
}

.ranking-table tr:first-child th {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.ranking-table tr:last-child td {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.card-como-jugar {
  border: 2.5px solid white;
  background: rgba(136, 134, 134, 0.4);
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 60px;
  margin-bottom: 60px;
  font-family: "Grenze Gotisch", serif;
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: 500;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  color: #fff;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 hsl(0, 0%, 0%),
    2px 2px 0 #000;
}

.card-info p {
  color: #fff;
  margin: 14px;
  margin-top: -8px;
  text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000,
    -1.5px 1.5px 0 hsl(0, 0%, 0%), 1.5px 1.5px 0 #000;
}

.exp-general {
  font-size: 26px;
  font-weight: 500;
}

.info-pto {
  font-size: 24px;
  font-weight: 500;
  padding-left: 12px !important;
}

.letra-pto {
  font-size: 24px;
  font-weight: 500;
  padding-left: 24px !important;
}

.botones-letras button:hover,
.estado-juego button:hover,
.btn-home button:hover,
.mensajes-finales button:hover,
.btn-eleccion button:hover,
.opciones-ingles button:hover {
  transform: scale(1.04);
  transition: 0.4s;
}

@media (max-width: 1280px) {
  .title-app {
    font-size: 62px;
  }

  .home-icon {
    height: 64px;
    width: 64px;
    margin-left: -13px;
    margin-right: 5px;
  }

  .card {
    width: 84%;
    margin-left: 7%;
    margin-right: 7%;
  }

  .botones-letras button {
    height: auto;
    width: 54px;
    font-size: 26px;
  }

  .palabra-oculta h2 {
    font-size: 32px;
    letter-spacing: 0.4em;
  }

  .card-como-jugar {
    width: 76%;
    margin-left: 12%;
    margin-right: 12%;
  }

  .card-header {
    font-size: 32px;
  }

  .exp-general {
    font-size: 24px;
    font-weight: 500;
  }

  .info-pto {
    font-size: 22px;
    font-weight: 500;
  }

  .letra-pto {
    font-size: 22px;
    font-weight: 500;
  }
}

@media (max-width: 768px) {
  .title-app {
    display: none;
  }

  .home-icon {
    height: 56px;
    width: 56px;
    margin-left: -11px;
    margin-right: 4px;
  }

  .card {
    margin-top: -24px;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
  }

  .estado-juego {
    font-size: 20px;
  }

  .estado-juego button {
    font-size: 18px;
  }

  .botones-letras button {
    height: auto;
    width: 44px;
    font-size: 24px;
  }

  .palabra-oculta h2 {
    font-size: 24px;
    letter-spacing: 0.3em;
  }

  .tipo-palabras h2 {
    font-size: 24px;
  }

  .btn-eleccion button {
    border: 2px solid black;
    font-size: 24px;
    font-weight: 600;
    transition: 0.4s;
  }

  .btn-home button {
    font-size: 28px;
  }

  .ranking h3 {
    font-size: 26px !important;
    font-weight: 600;
  }

  .header-tabla {
    font-size: 22px;
  }

  .body-tabla {
    font-size: 18px;
  }

  .ranking-table {
    width: 70%;
  }

  .card-como-jugar {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .card-header {
    font-size: 28px;
  }

  .exp-general {
    font-size: 22px;
    font-weight: 500;
  }

  .info-pto {
    font-size: 20px;
    font-weight: 500;
  }

  .letra-pto {
    font-size: 20px;
    font-weight: 500;
  }
}
