.mayor-menor-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.inicio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 54%;
}

.title-app {
  text-decoration: none;
  color: white;
  font-size: 76px;
  font-family: "Metal Mania", cursive;
  transition: 0.4s;
  margin: 0;
  text-shadow: -2.5px -2.5px 0 #000, 2.5px -2.5px 0 #000,
    -2.5px 2.5px 0 hsl(0, 0%, 0%), 2.5px 2.5px 0 #000;
}

.home-icon {
  height: 77px;
  width: 77px;
  margin-left: -16px;
  margin-right: 6px;
}

.card {
  background: url("./../../../../assets/bg-cartas.jpg") no-repeat center;
  background-size: cover;
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  border: 3px solid black;
  margin-bottom: 60px;
}

.card-img-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.game-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-mm {
  text-decoration: none;
  color: white;
  font-size: 62px;
  padding-top: 30px;
  padding-bottom: 40px;
  font-family: "Grenze Gotisch", serif;
  /* transition: 0.4s; */
  margin: 0;
  text-shadow: -2.5px -2.5px 0 #000, 2.5px -2.5px 0 #000,
    -2.5px 2.5px 0 hsl(0, 0%, 0%), 2.5px 2.5px 0 #000;
}

.dorso {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dorso-ia {
  margin-right: 80px;
}

.dorso-jugador {
  margin-left: 80px;
}

.cartas {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-ia,
.info-jugador {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.info-ia {
  margin-right: 80px;
}

.info-jugador {
  margin-left: 80px;
}

.info-ia p,
.info-jugador p {
  font-size: 30px;
  font-weight: 500;
  padding: 32px;
  font-family: "Grenze Gotisch", serif;
}

.start-game,
.game-over {
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-game button,
.game-over button {
  border: 2.5px solid rgb(45, 45, 45);
  font-size: 40px;
  font-weight: 500;
  margin-top: 44px;
  margin-bottom: 24px;
  font-family: "Grenze Gotisch", serif;
  cursor: pointer;
  transition: 0.4s;
}

.ingame-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ingame-btn button {
  border: 2.5px solid rgb(45, 45, 45);
  font-size: 36px;
  font-weight: 500;
  margin-top: 16px;
  margin-bottom: 20px;
  font-family: "Grenze Gotisch", serif;
  cursor: pointer;
  transition: 0.4s;
}

.igual {
  margin-left: 24px;
  margin-right: 24px;
}

.final-msg {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 6px;
  font-family: "Grenze Gotisch", serif;
}

.msg {
  font-size: 30px;
  font-weight: 500;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 hsl(0, 0%, 0%),
    2px 2px 0 #000;
}

.resultado {
  font-size: 26px;
  font-weight: 500;
}

.start-game button:hover,
.game-over button:hover {
  transform: scale(1.05);
  transition: 0.4s;
}

@media (max-width: 1280px) {
  .title-app {
    font-size: 62px;
  }

  .home-icon {
    height: 64px;
    width: 64px;
    margin-left: -13px;
    margin-right: 5px;
  }

  .card {
    width: 84%;
    margin-left: 7%;
    margin-right: 7%;
  }

  .title-mm {
    font-size: 52px;
  }

  .cartas img {
    width: 200px;
    height: auto;
  }

  .dorso img {
    width: 200px;
    height: auto;
  }

  .dorso-ia {
    margin-right: 60px;
  }

  .dorso-jugador {
    margin-left: 60px;
  }

  .info-ia {
    margin-right: 60px;
  }

  .info-jugador {
    margin-left: 60px;
  }

  .info-ia p,
  .info-jugador p {
    font-size: 30px;
  }

  .start-game button,
  .game-over button {
    font-size: 36px;
  }

  .ingame-btn button {
    font-size: 32px;
  }

  .igual {
    margin-left: 20px;
    margin-right: 20px;
  }

  .msg {
    font-size: 26px;
  }

  .resultado {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .title-app {
    display: none;
  }

  .home-icon {
    height: 56px;
    width: 56px;
    margin-left: -11px;
    margin-right: 4px;
  }

  .card {
    margin-top: -24px;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
  }

  .title-mm {
    font-size: 44px;
  }

  .cartas img {
    width: 146px;
    height: auto;
  }

  .dorso img {
    width: 146px;
    height: auto;
  }

  .dorso-ia {
    margin-right: 36px;
  }

  .dorso-jugador {
    margin-left: 36px;
  }

  .info-ia {
    margin-right: 36px;
  }

  .info-jugador {
    margin-left: 36px;
  }

  .info-ia p,
  .info-jugador p {
    font-size: 26px;
  }

  .start-game button,
  .game-over button {
    font-size: 32px;
    margin-bottom: 4px;
  }

  .ingame-btn button {
    font-size: 32px;
    margin-top: 4px;
    margin-bottom: 6px;
  }

  .igual {
    margin-left: 18px;
    margin-right: 18px;
  }

  .msg {
    font-size: 24px;
  }

  .resultado {
    font-size: 20px;
  }
}
