<div class="mayor-menor-container">
  <div class="inicio">
    <h1 class="title-app" routerLink="/home" routerLinkActive="active">
      Perfect
      <img class="home-icon" src="assets/icon-clean.png" alt="icono" />Game
    </h1>
  </div>
</div>
<div class="mesa-bg">
  <div class="card text-bg-dark">
    <div class="game-title">
      <h1 class="title-mm">Mayor - Menor</h1>
    </div>
    <!-- Mostrar los puntos actuales del jugador -->
    <div class="puntos" *ngIf="juegoIniciado">
      <p>Puntos: {{ puntos }}</p>
    </div>
    <!-- Mostrar el dorso de la carta antes de iniciar el juego -->
    <div class="dorso" *ngIf="!juegoIniciado">
      <div class="carta-dorso-inicio">
        <img [src]="dorsoCarta" alt="Dorso de la carta" />
      </div>
    </div>

    <div class="start-game" *ngIf="!juegoIniciado">
      <button
        class="btn btn-warning"
        (click)="iniciarJuego()"
        [disabled]="cargando || !idMazo"
      >
        {{ cargando ? "Cargando..." : "Start" }}
      </button>
    </div>

    <!-- Mostrar la carta actual una vez que el juego haya comenzado -->
    <div class="cartas-juego" *ngIf="juegoIniciado && cartaActual">
      <!-- Mostrar la carta anterior a la derecha de la carta actual -->
      <div class="carta-anterior">
        <div class="columna-anterior">
          <img
            *ngIf="cartaAnterior"
            [src]="cartaAnterior.image"
            alt="Carta anterior"
          />
          <p>Carta anterior</p>
        </div>
      </div>

      <div class="carta-actual">
        <div class="columna-actual">
          <img [src]="cartaActual.image" alt="Carta actual" />
          <p>Carta actual: {{ cartaActual.value }} of {{ cartaActual.suit }}</p>
          <p class="msg">{{ mensajeResultado }}</p>
        </div>
      </div>
    </div>

    <!-- Botones Alto, Igual, Bajo -->
    <div *ngIf="juegoIniciado && cartaActual && cartasRestantes > 0">
      <button
        (click)="eleccionJugador('alto')"
        [disabled]="cargando || botonesDeshabilitados"
      >
        Alto
      </button>
      <button
        (click)="eleccionJugador('igual')"
        [disabled]="cargando || botonesDeshabilitados"
      >
        Igual
      </button>
      <button
        (click)="eleccionJugador('bajo')"
        [disabled]="cargando || botonesDeshabilitados"
      >
        Bajo
      </button>
    </div>

    <!-- Mensaje cuando no quedan más cartas -->
    <div *ngIf="juegoIniciado && cartasRestantes === 0">
      <p>¡El juego ha terminado, no quedan más cartas!</p>
      <div class="game-over">
        <button (click)="volverAlMenu()">Volver al menú</button>
      </div>
    </div>
  </div>
</div>
<div class="como-jugar">
  <div class="card card-como-jugar">
    <div class="card-header">Como Jugar</div>
    <div class="card-info">
      <p class="exp-general">
        Se le muestra al jugador una carta, y su objetivo es adivinar si la
        siguiente carta será mayor o menor en valor.
      </p>
      <p class="info-pto">1- Se saca una carta al azar de la baraja.</p>
      <p class="info-pto">
        2- El jugador elige si la siguiente carta será de valor mayor o menor.
      </p>
      <p class="info-pto">3- Se revela la nueva carta.</p>
      <p class="letra-pto">a. Si el jugador adivinó correctamente, gana.</p>
      <p class="letra-pto">b. Si se equivoca, pierde.</p>
      <p class="exp-general">
        El juego continúa hasta que se acaban las cartas del mazo.
      </p>
    </div>
  </div>
</div>
