.mayor-menor-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.inicio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 54%;
}

.title-app {
  text-decoration: none;
  color: white;
  font-size: 76px;
  font-family: "Metal Mania", cursive;
  transition: 0.4s;
  margin: 0;
  text-shadow: -2.5px -2.5px 0 #000, 2.5px -2.5px 0 #000,
    -2.5px 2.5px 0 hsl(0, 0%, 0%), 2.5px 2.5px 0 #000;
}

img {
  width: 100px;
  height: auto;
  margin: 10px;
}

button {
  margin-top: 20px;
  margin-right: 10px;
  padding: 10px;
}

p {
  font-size: 18px;
  font-weight: bold;
}
