<section class="who-im">
  <div class="top-tittle">
    <img class="rayo-izq" src="assets/rayo-izquierdo.png" alt="rayo" />
    <h1 class="title-who">Quién Soy</h1>
    <img class="rayo-der" src="assets/rayo-derecho.png" alt="rayo" />
  </div>
  <div class="personal-data">
    <div class="card">
      <div class="card-header">Datos Personales</div>
      <div class="card-body">
        <div class="personal-info">
          <p class="txt-body">
            Soy un Desarrollador Full-Stack de Buenos Aires, Argentina, con
            varios años de experiencia en programación tanto back-end como
            front-end, en busca de nuevas oportunidades para mejorar mis
            habilidades y contribuir a proyectos innovadores.
          </p>
          <img src="assets/profile.jpg" alt="profile" />
        </div>

        <hr class="div-hr" />
        <div class="card-row">
          <span class="left-text"
            ><span class="bold-txt">Nombre: </span>Marcos Cruz</span
          >
          <span class="right-text"
            ><span class="bold-txt">Edad: </span>24 años</span
          >
        </div>
        <div class="card-row">
          <span class="left-text"
            ><span class="bold-txt">Apellido: </span>Rodriguez</span
          >
        </div>
        <hr class="div-hr" />
        <div class="card-row">
          <span class="left-text"
            ><span class="bold-txt">Email: </span>{{ email }}</span
          >
        </div>
        <hr class="div-hr" />
        <div class="card-row">
          <span class="left-text"
            ><span class="bold-txt">Materia: </span>Laboratorio IV</span
          >
          <span class="right-text"
            ><span class="bold-txt">División: </span>A341 2024</span
          >
        </div>
        <div class="card-row">
          <span class="left-text"
            ><span class="bold-txt">GitHub: </span
            ><a href="https://github.com/MarcosCrRodriguez" target="_blank">
              <i class="fab fa-github icon-white"></i>
            </a>
          </span>
          <span class="right-text"
            ><span class="bold-txt">Portfolio: </span
            ><a
              href="https://portfolio-react-crod.netlify.app/"
              target="_blank"
            >
              <i class="fas fa-briefcase icon-white"></i> </a
          ></span>
          <span class="right-text"
            ><span class="bold-txt">Linkedin: </span
            ><a
              href="https://www.linkedin.com/in/marcos-cruz-rodriguez-3151a2230/"
              target="_blank"
            >
              <i class="fab fa-linkedin icon-white"></i> </a
          ></span>
        </div>
      </div>
    </div>
  </div>
  <div class="proyecto">
    <div class="card">
      <div class="card-header">Información Proyecto</div>
      <div class="card-info">
        <div class="left-side">
          <img src="/assets/generala-game.png" alt="" />
        </div>
        <div class="right-side">
          <p>
            La generala es un juego de dados tradicional que se juega con cinco
            dados. El objetivo es conseguir la mayor cantidad de puntos formando
            combinaciones específicas en un total de 10 o 11 rondas, dependiendo
            de las variantes. Entre las combinaciones se incluyen números
            iguales (como tres de un mismo valor), escalera, full, póker y
            generala (cinco dados con el mismo número).
          </p>
          <div class="dados-container">
            <img
              *ngFor="let dado of cubilete.dados; let i = index"
              src="assets/dice1.png"
              alt="Dado"
            />
          </div>
          <p>
            Cada jugador tiene tres lanzamientos por turno y puede decidir
            cuáles dados volver a lanzar para intentar formar una mejor
            combinación. Las reglas principales a respetar son las combinaciones
            válidas y la cantidad limitada de turnos. La partida finaliza cuando
            todos los jugadores completan sus turnos, y el que obtiene más
            puntos es el ganador.
          </p>
          <a
            href="https://www.lavoz.com.ar/viral/como-se-juega-la-generala/"
            target="_blank"
            >Mas Información</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
